h1 {
  text-align: center;
}

.panel-body {
  margin: 50px;
  height: 150px;
}

#def{
  display: none;
}
 
}
/*.showing {
display: none;

}*/

/*.clickable {
  cursor: pointer;
  color: blue;

}


.clickable:hover {
    text-decoration: underline;
}*/
